
.card-pics {
    width: 275px;
    height: 275px;
}

/* .card-body {
    width: 434px;
    height: 667px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 25%;
} */

/* .container {
    align-items: center;
    word-wrap: break-word;
} */

/* .img-thumbnail {
    height: 200px;
    width: 200px;
} */

#wrapPer, .card {
    display: inline-block;
    /* flex-wrap: wrap; */   
}

.img-card-top {
    width: 100%;
    height: 250px;
    /* margin: 50px; */
}

/* .movieCards {
    width: 350px;
    height: 350px;
} */

#movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.conatainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}